.span-two, .span-three, .span-four{
    display: block;
}
.para-one{
    margin-right:854px;
}
.text-start{
    margin-left:35px;
}
.images-1{
    width:40px;
    height:30px;
    border-radius: 50%;
    margin-right: 10px;
}
.img2{
    width:280px;
    height:375px;
}

.name{
    margin-bottom: 35px;
    color:blue;
}
.section{
    display:flex;
    margin-left: 50px;
}
.star-one{
    color:gold;
}
.star-para{
    margin-right: 135px;
    margin-top: -20px;
    color:gray;
}
.star-para1{
    margin-right: 205px;
    margin-top: -20px;
    color:gray;
}
.dis3{
    margin-right:265px;
}
.para-last{
    margin-right:122px;
}
.button{
    border-radius: 15px;
    background-color: blue;
    color: white;
    border-color: blue;
}
.love{
    margin-left:20px;
    color:blue;
}
.lov{
    color: blue;
}
.share{
    margin-left:30px;  
    color:blue;
}
.love-one{
    color:blue;
}
.span-ten{
    display:block;
}
@media only screen and (max-width: 576px) {
    
   .text-start{
        margin-inline-start: -10px;
        font-size:11px;
       
    }
    
    .img2{
        width: 100%;
    }
    .section{
        margin-inline-start: 10px;
    }
    .star-para{
        margin-inline-start:-190px;
        font-size:10px;
        /* display: inline; */
        display:block;
        margin-right:-40px;
    }
    .star-para1{
        margin-right:5px;
        font-size:10px;
    }
    .button{
        width:50%;
        font-size:10px;
        padding:5px;
    }
    .para-last{
        font-size:10px;
    }
    .dis3{
        width:100%;
        margin-left:-85px;
    }
   
    
  }